version: '3'

services:
    database:
        image: postgres:14.1-alpine
        container_name: pg_sql
        ports:
            - 5432:5432
        environment:
            POSTGRES_PASSWORD: password
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            timeout: 20s
            retries: 10
    model-backend-migrate:
        build:
            context: .
        image: instill/model-backend:dev 
        container_name: model-backend-migrate
        depends_on:
            database:
                condition: service_healthy
        restart: on-failure
        environment:
            CFG_DATABASE_HOST: database
        entrypoint: ./model-backend-migrate

    model-backend:
        build:
            context: .
        image: instill/model-backend:dev 
        container_name: model-backend
        depends_on:
            triton-server:
                condition: service_healthy
        environment:
            CFG_DATABASE_HOST: database
            CFG_TRITONSERVER_GRPCURI: triton-server:8001
            CFG_TRITONSERVER_MODELSTORE: /models
        restart: on-failure
        ports:
            - 8080:8080
        volumes:
            - models:/models

    triton-server:
        image: nvcr.io/nvidia/tritonserver:22.01-py3
        command: tritonserver --model-store=/models --model-control-mode=explicit --allow-http=true --strict-model-config=false
        container_name: triton-server
        depends_on: 
            - triton-conda-env
        volumes:
            - models:/models
            - conda_pack:/conda-pack
        ports:
            - 8001:8001
        healthcheck:
            test: ["CMD-SHELL", "curl localhost:8000/v2/health/ready"]
            timeout: 20s
            retries: 10
        shm_size: 2gb
        ulimits:
            memlock: -1
            stack: 67108864

    triton-conda-env:
        container_name: triton-conda-env
        image: instill/triton-conda-env:v0.1.0-alpha-cpu
        volumes:
        - conda_pack:/conda-pack            
volumes:
    dbdata:
    models:
    conda_pack:
    
