server:
  port: 8083
  https:
    cert:   # /ssl/tls.crt
    key:    # /ssl/tls.key
  corsorigins:
    - http://localhost:3000
    - https://instill-inc.tech
    - https://instill.tech
  edition: local-ce:dev
  disableusage: false
  debug: true
database:
  username: postgres
  password: password
  host: pg-sql
  port: 5432
  name: model
  version: 1
  timezone: Etc/UTC
  pool:
    idleconnections: 5
    maxconnections: 30
    connlifetime: 30m # In minutes, e.g., '60m'
tritonserver:
  grpcuri: triton-server:8001
  modelstore: /model-repository
mgmtbackend:
  host: mgmt-backend
  port: 8084
  https:
    cert:   # /ssl/tls.crt
    key:    # /ssl/tls.key
cache:
  redis:
    redisoptions:
      addr: redis:6379
usagebackend:
  tlsenabled: true
  host: usage.instill.tech
  port: 443
pipelinebackend:
  host: pipeline-backend
  port: 8081
  https:
    cert:   # /ssl/tls.crt
    key:    # /ssl/tls.key
