server:
  privateport: 3083
  publicport: 8083
  https:
    cert:
    key:
  edition: docker-ce:dev
  usage:
    usageidentifieruid:
    enabled: true
    tlsenabled: true
    host: usage.instill-ai.com
    port: 443
  debug: true
  workflow:
    maxworkflowtimeout: 3600 # in seconds
    maxworkflowretry: 1
    maxactivityretry: 3
  instillcorehost: http://localhost:8080
  taskschemaversion: 662c3e2
database:
  username: postgres
  password: password
  host: pg-sql
  port: 5432
  name: model
  timezone: Etc/UTC
  pool:
    idleconnections: 5
    maxconnections: 30
    connlifetime: 30m # In minutes, e.g., '60m'
ray:
  host: ray
  port:
    dashboard: 8265
    serve: 8000
    grpc: 9000
    gcs: 6379
    client: 10001
    metrics: 8080
  vram:
mgmtbackend:
  host: mgmt-backend
  publicport: 8084
  privateport: 3084
  https:
    cert:
    key:
artifactbackend:
  host: artifact-backend
  publicport: 8082
  privateport: 3082
  https:
    cert:
    key:
cache:
  redis:
    redisoptions:
      addr: redis:6379
temporal:
  hostport: temporal:7233
  namespace: instill-core
  retention: 1d
  metricsport: 8096
  apikey:
  insecureskipverify:
initmodel:
  enabled: false
  inventory:
otelcollector:
  enable: false
  host: otel-collector
  port: 4317
openfga:
  host: openfga
  port: 8081
  cache:
    enabled: true
    ttl: 60
registry:
  host: registry
  port: 5000
minio:
  host: minio
  port: 9000
  user: minioadmin
  password: minioadmin
  bucketname: core-model
  secure: false
influxdb:
  url: http://influxdb:8086
  token: i-love-instill-ai
  org: instill-ai
  bucket: instill-ai
  flushinterval: 10s
  https:
    cert:
    key:
