server:
  port: 8083
  https:
    cert:   # /ssl/tls.crt
    key:    # /ssl/tls.key
  corsorigins:
    - http://localhost
    - https://instill-inc.tech
    - https://instill.tech
  edition: local-ce:dev
  disableusage: true
  debug: false
database:
  username: postgres
  password: password
  host: localhost
  port: 5432
  name: model
  version: 1
  timezone: Etc/UTC
  pool:
    idleconnections: 5
    maxconnections: 30
    connlifetime: 30m # In minutes, e.g., '60m'
tritonserver:
  grpcuri: localhost:8001
  modelstore: ./model-repository
mgmtbackend:
  host: localhost
  port: 8080
  https:
    cert:   # /ssl/tls.crt
    key:    # /ssl/tls.key
cache:
  redis:
    redisoptions:
      addr: localhost:6379
usagebackend:
  host: localhost
  port: 8084
  https:
    cert:  # /ssl/tls.crt
